.menu{

}
.menu-bar{
    display: flex;
    justify-content: center;
    background-color: #00bcd4;;
    height: 50px;
    padding: 12px 12px;
    box-sizing: border-box;
}
.menu-item{
    padding:0 16px;
}
.menu-item-link{
    font-size: 17px;
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
    text-transform: uppercase;
}
.menu-item-link:hover{
    color:red;
}
